/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-feb-2017, 14:05:34
    Author     : Jose Lara
*/
body{
    background-image: url("img/fondo_quizz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
}

.buttons{
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
}

.center-elements-left{
    position: absolute;
    left: 45%;
    top: 60%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.center-elements-right{
    position: absolute;
    left: 75%;
    top: 60%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
