/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-feb-2017, 14:58:16
    Author     : Jose Lara
*/
body{
    background-color: #A7F1F4;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
}

.center-text{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-family: Glacial;
    font-size: 30px;
}

.center-button-text{
    text-align: center;
    position: relative;
    font-family: Glacial;
    font-size: 20px; 
}

/* Top elements */

div.question-number{
    width: 280px; 
    height: 100px; 
    background-image: url("img/question_grand.png");
    background-size: cover;
    margin-top: 10px;
    margin-left: 50px;
}

div.points{
    width: 100px; 
    height: 100px; 
    background-image: url("img/rouage.png");
    background-size: cover;
    margin-top: 10px;
}

/* Center elements */

.question{
    position: fixed;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 25%;
    margin-top:30px;
}
div.impact{
    position: fixed;
    left: 45%;
    top: 30%;
}

.impact-img{
    max-height: 400px;
    max-width: 400px;
    background-color: transparent;
}

/* Bottom elements */

div.explanation{
    position: absolute;
    bottom: 3%;
}

.explanation-img{
    max-width: 280px; 
    max-height: 280px; 
}

div.explanation-dialog{
    width: 375px; 
    height: 140px; 
    background-image: url("img/bocadillo_explicacion.png");
    position: absolute;
    bottom: 110%;
    background-size: cover;
    margin-left: 30%;
}

div.question-answers{
    width: 800px; 
    height: 288px; 
    background-image: url("img/question_grand.png");
    background-size: cover;
    margin-top: 10px;
    position: absolute;
    margin-left: 20%;
    bottom: 3%;
}

.answer-a{
    width: 322px; 
    height: 70px; 
    background-image: url("img/rep_a.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.answer-b{
    width: 322px; 
    height: 70px; 
    background-image: url("img/rep_b.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.answer-c{
    width: 322px; 
    height: 70px; 
    background-image: url("img/rep_c.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.answer-d{
    width: 322px; 
    height: 70px; 
    background-image: url("img/rep_d.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.correct-a{
    width: 322px; 
    height: 70px; 
    background-image: url("img/vrai_a.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.correct-b{
    width: 322px; 
    height: 70px; 
    background-image: url("img/vrai_b.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.correct-c{
    width: 322px; 
    height: 70px; 
    background-image: url("img/vrai_c.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.correct-d{
    width: 322px; 
    height: 70px; 
    background-image: url("img/vrai_d.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.wrong-a{
    width: 322px; 
    height: 70px; 
    background-image: url("img/mauvaise_a.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.wrong-b{
    width: 322px; 
    height: 70px; 
    background-image: url("img/mauvaise_b.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.wrong-c{
    width: 322px; 
    height: 70px; 
    background-image: url("img/mauvaise_c.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}

.wrong-d{
    width: 322px; 
    height: 70px; 
    background-image: url("img/mauvaise_d.png");
    background-repeat:	no-repeat;
    background-color:	transparent;
    background-size: cover;
    border: none;
    margin-top: 50px;
    text-transform: inherit;
}
